@import "./base.css";
@import "tailwindcss";

#app {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 2rem;
}

.canvas {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.history-card {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25) !important;
}
